<div class="container">
  <h1>За мен</h1>
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Информация за мен</h2>
    <p class="section-content">Хейй, малки котки! Аз съм Виктория Танакова и съм вашия нов любим Angular разработчик :3</p>
  </div>
  
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Хобита и интереси</h2>
    <p class="section-content">Извън програмирането, обичам да се занимавам с рисуване, да пътувам и да играя игри.</p>
  </div>
  
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Любим Content Creator</h2>
    <p class="section-content">Една от моите любими YouTube content creator-и е <a class="link" href="https://www.youtube.com/@FaithGeorgieva/featured">Faith Georgieva</a></p>
  </div>

  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Моят канал</h2>
    <p class="section-content">Моят канал VixieAngularAcademy е място, където споделям полезни уроци, нови технологии и интересни проекти от моя опит в програмирането.
       Очаквайте много инструкции за Angular, туториали за уеб разработка и вдъхновяващи видеа за програмисти :3</p>
  </div>
  
  <div class="section">
    <h2 class="section-title" (click)="toggleSection($event)">Цени на услуги</h2>
    <p class="section-content">Моите услуги за уеб разработка варират в зависимост от специфичните изисквания на проекта. За конкретна цена, моля, свържете се с мен през контактната форма по-долу.</p>
  </div>
</div>